@import 'base';

.main-header {
  display: flex;
  flex-direction:column;
  height: 400px;
  width: 100%;
  background-image: url("/images/cream-dust.png");
  background-repeat: repeat;
  background-color: $main-color;
  color: $base-color;

  div {
    display: flex;
    justify-content: center;
    img {
      margin-top: 27px;
    }
  }

  
}



/* Desktop styles */
@media only screen and (min-width: 1024px) {

  header.main-header{
    flex-direction: column;
    width: 30%;
    margin-top: 9em;
    margin-left: 2em;
  }
}

