@import 'base';
body main.container section.new-tweet {
  margin-top: 30px;
  display: none;

  form label{
    display: block;
    font-size: 1.1em;
    font-weight: 600;
  }
}


textarea#tweet-text {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  height: 1.4em;
  width: 100%;
  resize: none;
  outline: none;
}

.error-message {
  border: 2px solid $alert-color;
  color: $alert-color;
  border-radius: 5px;
  background-color: $base-color;
  padding: 12px;
  margin: 8px 0;
  font-weight: bold;
  display: none;
}

.new-tweet-bottom {
  display: flex;
  font-family: 'Bungee', cursive;

  .counter {
    margin-left: auto;
  }

  button{
    color: $base-color;
    background-color: $secondary-color;
  }
}

.invalid {
  color: $alert-color;
}