nav {
  top: 0;
  display: flex;
  height: 120px;
  width: 100%;
  z-index: 100; 
  position: fixed;
  
 
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5em;
  
  font-weight: 400;
  color: #FFFFFF;
  background-color: #da6e3d;
  box-shadow: 2px 4px 10px #aaa;
    
}

nav span.tweeter-title {
  font-family: 'Bungee', cursive;
  font-size: 1.8em;
}

nav span.add-tweet{
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}


nav span.add-tweet i{
  color: #6457A6;

}

span.add-tweet:hover .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
span.add-tweet:hover .bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}