body main.container section.new-tweet {
  margin-top: 30px;
  display: none;
}

section.new-tweet form label{
  display: block;
  font-size: 1.1em;
  font-weight: 600;
}

textarea#tweet-text {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  height: 1.4em;
  width: 100%;
  resize: none;
  outline: none;
}

.error-message {
  border: 2px solid rgb(233, 54, 54);
  color: rgb(233, 54, 54);
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 12px;
  margin: 8px 0;
  font-weight: bold;
  display: none;
}

.new-tweet-bottom {
  display: flex;
  font-family: 'Bungee', cursive;
}
.new-tweet-bottom .counter {
  margin-left: auto;
}

.new-tweet-bottom button{
  color: #FFFFFF;
  background-color: #4056A1;
}
.invalid {
  color: red;
}